<aside>
 <div class="panel radius">
	<h3>Work Samples</h3>
	 <h4>Communication<h4>
		<ul>
			<li>eNewsletter » <a href="http://mojo-web.com/mojowebinc/blog/newsletter/"><small>View</small></a></li>
			<li>Projcet Poster » <a href="http://mojo-web.com/mojowebinc/blog/poster/">View</a></li>
			<li>Manager Talking Points » <a href="http://mojo-web.com/mojowebinc/blog/talking-points/">View</a></li>
			<li>Employee Bulletin » <a href="http://mojo-web.com/mojowebinc/blog/bulletin/">View</a></li>
			<li>Vendor/Customer Communication » <a href="http://mojo-web.com/mojowebinc/blog/vender-letter/">View</a></li>
			<li>Countdown Communications » <a href="http://mojo-web.com/mojowebinc/blog/countdown-comms/">View</a></li>
		</ul>
 </div>
</aside>
