<aside>
 <div class="panel radius">
		<h3>Work Samples</h3>
		<p><h5>Communication<h5></p>
		<p>eNewsletter » <a href="http://mojo-web.com/mojowebinc/blog/newsletter/">View</a></p>
		<p>Projcet Poster » <a href="http://mojo-web.com/mojowebinc/blog/poster/">View</a></p>
		<p>Manager Talking Points » <a href="http://mojo-web.com/mojowebinc/blog/talking-points/">View</a></p>
		<p>Employee Bulletin » <a href="http://mojo-web.com/mojowebinc/blog/bulletin/">View</a></p>
		<p>Vendor/Customer Communication » <a href="http://mojo-web.com/mojowebinc/blog/vender-letter/">View</a></p>
		<p>Countdown Communications » <a href="http://mojo-web.com/mojowebinc/blog/countdown-comms/">View</a></p>
 </div>
</aside>
