---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---
<div class="row">
	<div class="medium-8 columns t30">
		{% include _pagination.html %}
	</div><!-- /.medium-7.columns -->


	<div class="medium-4 columns t30">
		<div class="panel radius">
	    <h3>Work Samples</h3>

			<hr></hr>
			<h4>Communication<h4>
			<ul>
				<li><a href="http://mojo-web.com/mojowebinc/blog/newsletter/"><span style="font-family: Arial">eNewsletter »</span></a></li>
				<li><a href="http://mojo-web.com/mojowebinc/blog/poster/">Project Poster »</a></li>
				<li><a href="http://mojo-web.com/mojowebinc/blog/talking-points/">Manager Talking Points »</a></li>
				<li><a href="http://mojo-web.com/mojowebinc/blog/bulletin/">Employee Bulletin »</a></li>
				<li><a href="http://mojo-web.com/mojowebinc/blog/vender-letter/">Vendor/Customer Communication »</a></li>
				<li><a href="http://mojo-web.com/mojowebinc/blog/countdown-comms/">Countdown Communications »</a></li>
			</ul>

			<hr></hr>
			<h4>Instructional Design<h4>
			<ul>
				<li><a href="http://mojo-web.com/mojowebinc/blog/newsletter/">eNewsletter »</a></li>
			</ul>

		</div>
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
